<!DOCTYPE html>
<html lang="eng">

<head>
    <title>About | Repay</title>
    <!-- /SEO Ultimate -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta charset="utf-8">
    
<%-include('./header')%>    
<!-- Sub-Banner -->
<div class="sub-banner">
    <section class="banner-section">
        <figure class="mb-0 bgshape">
            <img src="assets/images/homebanner-bgshape.png" alt="" class="img-fluid">
        </figure>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="banner_content">
                        <h1>About Us</h1>
                        <p>“One-stop solution for all your financial services- New Ways to serve more”</p>
                    </div>
                </div>
            </div>
        </div>    
    </section>
    <div class="box">
        <span class="mb-0 text-size-16">Home</span><span class="mb-0 text-size-16 dash">-</span><span class="mb-0 text-size-16 box_span">About</span>
    </div>
</div>
<!--About-->
<section class="what-we-do about-section position-relative">
    <div class="container">
        <!--<figure class="element1 mb-0">-->
        <!--    <img src="assets/images/what-we-do-icon-1.png" class="img-fluid" alt="">-->
        <!--</figure>-->
        <div class="row">
            <div class="col-12">
                <div class="subheading" data-aos="fade-right">
                    <h6>About Company</h6>
                    <h2>We Are The Best Online Payment Gateway Agency</h2>
                </div>
            </div>
        </div>
        <div class="row position-relative">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1">
                    <figure class="img img1">
                        <img src="assets/images/vision-icon.png" alt="" class="img-fluid">
                    </figure>
                    <h3>Our Vision</h3>
                    <p class="mb-0 text-size-18">Here, Pyra Pay is providing the solution in an efficient, creative and cost effective manner which ensures business successfully and continuously providing innovative services to thrive businesses.</p>
                </div>
            </div>
            <figure class="arrow1 mb-0" data-aos="fade-down">
                <img src="assets/images/what-we-do-arrow-1.png"  class="img-fluid" alt="">
            </figure>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1 service2">
                    <figure class="img img2">
                        <img src="assets/images/mission-icon.png" alt="" class="img-fluid">
                    </figure>
                    <h3>Our Mission</h3>
                    <p class="mb-0 text-size-18">We are trying to make our country cashless (Digital) as much as possible, our aim is to work for the welfare of our customers by providing the best services timely.</p>
                </div>
            </div>
            <figure class="arrow2 mb-0" data-aos="fade-up">
                <img src="assets/images/what-we-do-arrow-2.png"  class="img-fluid" alt="">
            </figure>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1">
                    <figure class="img img3">
                        <img src="assets/images/strategyicon.png" alt="" class="img-fluid">
                    </figure>
                    <h3>Strategy</h3>
                    <p class="mb-0 text-size-18">We are working on the demands of customers and providing services on time all over India which enable growth. We are making long-term relationships with the customers and taking care of their benefits. 
                    </p>
                </div>
            </div>
            <figure class="element3 mb-0">
                <img src="assets/images/what-we-do-element.png" alt="">
            </figure>
        </div>
        <!--<figure class="element2 mb-0">-->
        <!--    <img src="assets/images/what-we-do-icon-2.png" class="img-fluid" alt="">-->
        <!--</figure>-->
    </div>
</section>

<!--About Repay-->
<section class="about-repay repay-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="about-wrapper">
                    <figure class="circle mb-0">
                        <img src="assets/images/image-2-bg.png" alt="">
                    </figure>
                    <div class="position-relative">
                        <a class="popup-vimeo" href="https://video-previews.elements.envatousercontent.com/h264-video-previews/d1c81f1e-849f-4d45-ae57-b61c2f5db34a/25628048.mp4">
                            <figure class="mb-0 videobutton">
                                <img class="thumb img-fluid" style="cursor: pointer" src="assets/images/play-button.png" alt="">
                            </figure>
                        </a>
                    </div>
                    <figure class="image mb-0">
                        <img src="assets/images/image-2.png" alt="" class="img-fluid">
                    </figure>
                    <figure class="homeelement mb-0">
                        <img src="assets/images/homeelement.png" alt="" class="img-fluid">
                    </figure>
                    <figure class="homeelement1 mb-0">
                        <img src="assets/images/homeelement.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="about-content" data-aos="fade-up">
                    <h6>ABOUT REPAY</h6>
                    <h2>“Turning Decisions into Profits for Your Business!”</h2>
                    <p class="text-size-18">“One-stop solution for all your financial services- New Ways to serve more”
                                           Complete your cellphone recharge, bill payment, account opening, cash withdrawal, mini statement, AEPS, Fixed Deposits, and DMT (Domestic Money Transfer).</p>
                    <p class="text-size-18 text">We employ cutting-edge technology to provide the greatest client experience possible through our services. </p>
                    <div class="right-lower">
                        <figure class="mb-0 icon">
                            <img src="assets/images/happy-customer-icon.png" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <span>55k+</span>
                            <h4 class="mb-0">Happy Customers</h4>
                        </div>
                        <figure class="mb-0 icon">
                            <img src="assets/images/total-customers-icon.png" alt="" class="img-fluid">
                        </figure>
                        <div class="content content1">
                            <span>$249M+</span>
                            <h4 class="mb-0">Total Transections</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <figure class="mb-0 about-repaylayer">
        <img src="assets/images/about-repaylayer.png" alt="" class="img-fluid">
    </figure>
</section>

<!--How we Work-->
<section class="work-section position-relative">
    <div class="container">
        <!--<figure class="element1 mb-0">-->
        <!--    <img src="assets/images/what-we-do-icon-1.png" class="img-fluid" alt="">-->
        <!--</figure>-->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="work-content" data-aos="fade-right">
                    <h6>How we work</h6>
                    <h2>“Four step away from joining us”</h2>
                    <p class="text-size-18">Don't Settle for Less: Trust our Pyra Pay to provide the Best Customer Support and Financial Services in the Industry.</p>
                    <div class="content">
                        <ul class="list-unstyled mb-0">
                            <li class="h4">Download App</li>
                            <li class="h4">Choose Payment</li>
                            <li class="h4">Make Payment</li>
                            <li class="for-space h4">Get Amazing Services</li>
                        </ul>
                    </div>
                    <div class="image_wrapper">
                        <a class="image_google" href="https://play.google.com/store/games">
                            <figure class="mb-0 image-google"> 
                                <img class="img-fluid" src="assets/images/image-google.png" alt="">
                            </figure> 
                        </a>
                        <a class="image_apple" href="https://www.apple.com/app-store/">
                            <figure class="mb-0 image-apple">
                                <img class="img-fluid" src="assets/images/image-apple.png" alt="">
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="work-wrapper">
                    <figure class="mobile-image mb-0">
                        <img src="assets/images/mobileimg.png" alt="" class="img-fluid">
                    </figure>
                    <figure class="mobile-bg mb-0">
                        <img src="assets/images/mobile-bg.png" alt="">
                    </figure>
                    <figure class="work-element1 mb-0">
                        <img src="assets/images/work-element.png" alt="" class="img-fluid">
                    </figure>
                    <figure class="work-element mb-0">
                        <img src="assets/images/work-element.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
        <!--<figure class="element2 mb-0">-->
        <!--    <img src="assets/images/what-we-do-icon-2.png" class="img-fluid" alt="">-->
        <!--</figure>-->
    </div>
</section>
<!--FAQ section-->
<section class="accordian-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                <div class="faq">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="accordian-section-inner position-relative" data-aos="fade-up">
                                <div class="accordian-inner">
                                    <div id="accordion1">
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingOne">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    <h4>1. What can I do with Pyra Pay??</h4>
                                                </a>
                                            </div>
                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Customers may take advantage of interesting discounts by making transactions using our payment gateway via Pyra Pay. Pyra Pay provides a variety of services like recharge, bill payment, money transfer, and loans.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingtwo">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="false" aria-controls="collapsetwo">
                                                    <h4>2. What are the CSP eligibility criteria and how can I apply for CSP?</h4>
                                                </a>
                                            </div>
                                            <div id="collapsetwo" class="collapse" aria-labelledby="headingtwo">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">We provide CSP offered by two market players such as NSDL and SURYODAY BANK.
                                                    Anyone can apply for the CSP with age between 18 to 65, and you can directly apply through our website.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingthree">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
                                                    <h4>3. Is document upload of the customer mandatory for buying CSP?</h4>
                                                </a>
                                            </div>
                                            <div id="collapsethree" class="collapse" aria-labelledby="headingthree">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Yes, it is important to upload all the required documents for buying any of the following CSP. 
                                                      The documents are:-  
                                                      ●	Aadhar card 
                                                      ●	Pan card 
                                                      ●	Bank details
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingfour">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                                    <h4>4. How was my loan amount decided?</h4>
                                                </a>
                                            </div>
                                            <div id="collapsefour" class="collapse" aria-labelledby="headingfour">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">It depends on your bank cibil score and you get a loan assured by the bank.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingfive">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                                    <h4>5. What is the activation process for CSP?</h4>
                                                </a>
                                            </div>
                                            <div id="collapsefive" class="collapse" aria-labelledby="headingfive">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Our process are simple for applying for a CSP, firstly you must fill the registration form in the apply section on our website, upload required documents for further process. After all this process, you’ll get your User ID and password within 72 hours. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingsix">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                                    <h4>6. Where can I apply for a Loan?</h4>
                                                </a>
                                            </div>
                                            <div id="collapsesix" class="collapse" aria-labelledby="headingsix">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">You can check your Loan Eligibility on the Loans section on Pyra Pay website. Just enter your PAN Number and Pin Code to check your eligibility. Once you are eligible, you need to fill an online application form.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 d-lg-block d-none">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="accordion-content">
                    <h6>frequently asked questions</h6>
                    <h2>General Questions</h2>
                    <p class="text-size-18">Are you tired while finding the best payment gateway?Don’t worry, we have a plethora of services.</p>
                    <h3>Tips & Information</h3>
                    <p class="text-size-16">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                    <div class="right-lower" data-aos="fade-right">
                        <figure class="mb-0 icon">
                            <img src="assets/images/emailicon.png" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <span class="text-size-18">Email Address</span>
                            <h4 class="mb-0">support@pyrapay.com</h4>
                        </div>
                        <figure class="mb-0 icon">
                            <img src="assets/images/total-customers-icon.png" alt="" class="img-fluid">
                        </figure>
                        <div class="content content1">
                            <span class="text-size-18">Phone Number</span>
                            <h4 class="mb-0">+1800 102 7259</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <figure class="mb-0 manage-layer">
        <img src="assets/images/mange-layer.png" alt="" class="img-fluid">
    </figure>
</section>
<!--Our Blog-->
<!-- <section class="blog-section position-relative">
    <div class="container">
        <figure class="element1 mb-0">
            <img src="assets/images/what-we-do-icon-1.png" class="img-fluid" alt="">
        </figure>
        <div class="row">
            <div class="col-12">
                <div class="subheading">
                    <h6>OUR BLOG</h6>
                    <h2>Latest Blog & Articles</h2>
                </div>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="blog-box">
                    <figure>
                        <img src="assets/images/firstblog.png" alt="" class="img-fluid">
                    </figure>
                    <div class="content content1">
                        <a class="button">Bank</a>
                        <p class="h4">The Impact Of Online Payments Will Make All Banks Use ATMs</p>
                        <a href="single-post" class="text-size-16 text-decoration-none">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="blog-box">
                    <figure>
                        <img src="assets/images/secondblog.png" alt="" class="img-fluid">
                    </figure>
                    <div class="content">
                        <a class="button button1">Inflation</a>
                        <p class="h4">Is Now A Good Time To Worry More About Financial Inflation</p>
                        <a href="single-post" class="text-size-16 text-decoration-none">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="blog-box">
                    <figure class="blogimage">
                        <img src="assets/images/thirdblog.png" alt="">
                    </figure>
                    <div class="content">
                        <a class="button button1">Economy</a>
                        <p class="h4">New SaaS Online Payment Platform Raises $15 Million Per Year</p>
                        <a href="single-post" class="text-size-16 text-decoration-none">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <figure class="element2 mb-0">
            <img src="assets/images/what-we-do-icon-2.png" class="img-fluid" alt="">
        </figure>
    </div>
</section> -->
<!-- Partner -->

  
<%-include('./footer')%>  
</body>

</html> 