<!DOCTYPE html>
<html lang="eng">

<head>
    <title>pyrapay</title>
    <!-- /SEO Ultimate -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta charset="utf-8">
    
    <%-include('./header')%>
<!-- Sub-Banner -->
<div class="sub-banner">
    <section class="banner-section">
        <figure class="mb-0 bgshape">
            <img src="assets/images/homebanner-bgshape.png" alt="" class="img-fluid">
        </figure>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="banner_content">
                        <h1>Contact Us</h1>
                        <p>“ Stay ahead of the curve with our premium services like Recharge, online Bill payment, DMT services etc. - Unlocking new possibilities for the future.”</p>
                    </div>
                </div>
            </div>
        </div>    
    </section>
    <div class="box">
        <span class="mb-0 text-size-16">Home</span><span class="mb-0 text-size-16 dash">-</span><span class="mb-0 text-size-16 box_span">Contact</span>
    </div>
</div>
<!--Contact-->
<section class="message-section">
    <div class="container">
        <!--<figure class="element1 mb-0">-->
        <!--    <img src="assets/images/what-we-do-icon-1.png" class="img-fluid" alt="">-->
        <!--</figure>-->
        <div class="row position-relative">
            <div class="col-12">
                <div class="content">
                    <h6>Let's Contact Us</h6>
                    <h2>Get in Touch with Us</h2>
                    <figure class="element3 mb-0">
                        <img src="assets/images/what-we-do-element.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="message_content" data-aos="fade-up">
                    <form id="contactpage" method="POST" action="https://html.designingmedia.com/repay/contact-form.php">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-0"> 
                                    <h4>Name:</h4>
                                    <input type="text" class="form_style" placeholder="Enter Your Name" name="name"> 
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <h4>Email:</h4>
                                    <input type="email" class="form_style" placeholder="Enter Your Email Address" name="emailid">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <h4>Phone:</h4>
                                    <input type="tel" class="form_style" placeholder="Enter Your Phone Number" name="phone">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0"> 
                                    <h4>Message:</h4>   
                                    <textarea class="form_style" placeholder="Add Your Comment" rows="3" name="msg"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="manage-button text-center">
                            <button type="submit" class="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="map">
                    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.3329737833114!2d144.96011341590386!3d-37.80566904135444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2s!4v1669200882885!5m2!1sen!2s"-->
                    <!--    style="border:0;" allowfullscreen="" loading="lazy"-->
                    <!--    referrerpolicy="no-referrer-when-downgrade"></iframe>-->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d112116.76078849593!2d77.24999993362609!3d28.58030771573277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x390ce59cd219e65b%3A0xc1ac38022b8cd07f!2sG-23%2C%20Block%20G%2C%20Sector%203%2C%20Noida%2C%20Uttar%20Pradesh%20201301!3m2!1d28.5803257!2d77.3200402!5e0!3m2!1sen!2sin!4v1683529931526!5m2!1sen!2sin" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <figure class="element2 mb-0">
                    <img src="assets/images/what-we-do-icon-2.png" class="img-fluid" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- need more help? -->
<section class="need-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content" data-aos="fade-right">
                    <h6>NEED MORE HELP?</h6>
                    <h2>Building trust, Leading business is our sole motto.</h2>
                    <p class="text-size-18">We solely believe in providing the best of the best fintech service among others, we’re a top notch leading company in DMT, Providing CSP (Customer Service Point) and Pos Machine.</p>
                </div>
            </div>
        </div>
        <div class="row position-relative">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1">
                    <figure class="img img1">
                        <img src="assets/images/need-sales-icon.png" alt="" class="img-fluid">
                    </figure>
                    <h3>Sales</h3>
                    <p class="text-size-18">Get your CSP with just few clicks</p>
                    <a href="tel:9717763279" class="btn">Contact Sales</a>
                </div>
            </div>
            <figure class="arrow1 mb-0" data-aos="fade-down">
                <img src="assets/images/need-arrow1.png" class="img-fluid" alt="">
            </figure>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1 service2">
                    <figure class="img img2">
                        <img src="assets/images/need-more-icon2.png" alt="" class="img-fluid">
                    </figure>
                    <h3>Help & Support</h3>
                    <p class="text-size-18">24X7 help support</p>
                    <a href="mailto:support@pyrapay.com" class="btn">Get Support</a>
                </div>
            </div>
            <figure class="arrow2 mb-0" data-aos="fade-up">
                <img src="assets/images/need-arrow-2.png" class="img-fluid" alt="">
            </figure>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1">
                    <figure class="img img3">
                        <img src="assets/images/need-more-icon-3.png" alt="" class="img-fluid">
                    </figure>
                    <h3>Article & News</h3>
                    <p class="text-size-18">Read our latest collections of blogs and get update everyday</p>
                    <a href="blog" class="btn">Read Article</a>
                </div>
            </div>
        </div>
    </div>
    <figure class="mb-0 need-layer">
        <img src="assets/images/need-layer.png" alt="" class="img-fluid">
    </figure>
</section>


  <%-include('./footer')%>  
</body>

</html>