<!DOCTYPE html>
<html lang="eng">

<head>
    <title>pyrapay</title>
    <!-- /SEO Ultimate -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta charset="utf-8">
    
    <%-include('./header')%>
<!-- Sub-Banner -->
<div class="sub-banner">
    <section class="banner-section">
        <figure class="mb-0 bgshape">
            <img src="assets/images/homebanner-bgshape.png" alt="" class="img-fluid">
        </figure>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="banner_content">
                        <h1>Faq</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>    
    </section>
    <div class="box">
        <span class="mb-0 text-size-16">Home</span><span class="mb-0 text-size-16 dash">-</span><span class="mb-0 text-size-16 box_span">Faq</span>
    </div>
</div>
<!--FAQ section-->
<section class="faq-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="subheading">
                    <h6>General Questions</h6>
                    <h2>Frequently Asked Questions</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="faq" data-aos="fade-up">
                    <div class="row">
                        <div class="col-12">
                            <div class="accordian-section-inner position-relative">
                                <div class="accordian-inner">
                                    <div id="accordion1">
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingOne">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    <h4>Where Can I Find More Information?</h4>
                                                </a>
                                            </div>
                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingTwo">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <h4>What Are Your Terms and Conditions?</h4>
                                                </a>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingThree">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    <h4>What Kinds of Payment Do You Accept?</h4>
                                                </a>
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingFour">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    <h4>What Are Your Terms and Conditions?</h4>
                                                </a>
                                            </div>
                                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="faq-content" data-aos="fade-up">
                    <div class="row">
                        <div class="col-12">
                            <div class="accordian-section-inner position-relative">
                                <div class="accordian-inner">
                                    <div id="accordion2">
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingFive">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                    <h4>Where Can I Find More Information?</h4>
                                                </a>
                                            </div>
                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingSix">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                    <h4>What Are Your Terms and Conditions?</h4>
                                                </a>
                                            </div>
                                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingSeven">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                    <h4>What Kinds of Payment Do You Accept?</h4>
                                                </a>
                                            </div>
                                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingEight">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                    <h4>What Are Your Terms and Conditions?</h4>
                                                </a>
                                            </div>
                                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- need more help? -->
<section class="need-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content" data-aos="fade-right">
                    <h6>NEED MORE HELP?</h6>
                    <h2>Leading, Trusted. Enabling growth.</h2>
                    <p class="text-size-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuntabore et dolore aliquaQuis ipsum suspe.</p>
                </div>
            </div>
        </div>
        <div class="row position-relative">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1">
                    <figure class="img img1">
                        <img src="assets/images/need-sales-icon.png" alt="" class="img-fluid">
                    </figure>
                    <h3>Sales</h3>
                    <p class="text-size-18">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed</p>
                    <a href="contact" class="btn">Contact Sales</a>
                </div>
            </div>
            <figure class="arrow1 mb-0" data-aos="fade-down">
                <img src="assets/images/need-arrow1.png" class="img-fluid" alt="">
            </figure>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1 service2">
                    <figure class="img img2">
                        <img src="assets/images/need-more-icon2.png" alt="" class="img-fluid">
                    </figure>
                    <h3>Help & Support</h3>
                    <p class="text-size-18">Labore et dolore magna aliqua quis ipsum suspendisse ultrices</p>
                    <a href="contact" class="btn">Get Support</a>
                </div>
            </div>
            <figure class="arrow2 mb-0" data-aos="fade-up">
                <img src="assets/images/need-arrow-2.png" class="img-fluid" alt="">
            </figure>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1">
                    <figure class="img img3">
                        <img src="assets/images/need-more-icon-3.png" alt="" class="img-fluid">
                    </figure>
                    <h3>Article & News</h3>
                    <p class="text-size-18">viverra maecenas accumsan lacus vel facili sis consectetur adipiscing</p>
                    <a href="contact" class="btn">Read Article</a>
                </div>
            </div>
        </div>
    </div>
    <figure class="mb-0 need-layer">
        <img src="assets/images/need-layer.png" alt="" class="img-fluid">
    </figure>
</section>
<!-- Partner -->


  
 <%-include('./footer')%>  
</body>

</html>