<section class="footer-section">
    <div class="partner-section"> 
        <div class="container">
            <div class="partner">
                <ul class="mb-0 list-unstyled">
                    <li>
                        <figure class="mb-0 partner1">
                            <img class="img-fluid" src="assets/images/partner-logo-1.png" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 partner1 partner2">
                            <img class="img-fluid" src="assets/images/partner-logo-2.png" alt="">
                        </figure>
                    </li>
                    <li class="img-mb">
                        <figure class="mb-0 partner1 partner3">
                            <img class="img-fluid" src="assets/images/partner-logo-3.png" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 partner1 partner4">
                            <img class="img-fluid" src="assets/images/partner-logo-4.png" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 partner1 partner5">
                            <img class="img-fluid" src="assets/images/partner-logo-5.png" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 partner1 partner5">
                            <img class="img-fluid" src="assets/images/partner-logo-6.png" alt="">
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="middle-portion">
            <div class="row">
                <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                    <a href="index-2">
                        <figure class="footer-logo">
                            <img src="assets/images/footer-logo.png" class="img-fluid" alt="">
                        </figure>
                    </a>
                    <p class="text-size-16 footer-text">Lorem ipsum dolor sit amet, consectetur adipisc ing elitsed do eiusmod tempororem ipsum dolor sit am econsect ametconsectetetur.</p>
                    <figure class="mb-0 payment-icon">
                        <img src="assets/images/payment-card.png" class="img-fluid" alt="">
                    </figure>
                </div>
                
                <!--<div class="col-lg-1 col-md-1 col-sm-12 col-12 d-lg-block d-none">-->
                <!--</div>-->
                
                <div class="col-lg-2 col-md-3 col-sm-12 col-12 d-md-block d-none">
                    <div class="links">
                        <h4 class="heading">General</h4>
                        <hr class="line">
                        <ul class="list-unstyled mb-0">
                            <li><a href="index-2" class=" text-size-16 text text-decoration-none">Home</a></li>
                            <li><a href="about" class=" text-size-16 text text-decoration-none">About Us</a></li>
                            <!--<li><a href="service" class=" text-size-16 text text-decoration-none">Our Services</a></li>-->
                            <li><a href="contact" class=" text-size-16 text text-decoration-none">Contact</a></li>
                            <!--<li><a href="faq" class=" text-size-16 text text-decoration-none">FAQ</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-12 d-lg-block d-none">
                    <div class="links">
                        <h4 class="heading">Support</h4>
                        <hr class="line">
                        <ul class="list-unstyled mb-0">
                            <li><a href="contact" class=" text-size-16 text text-decoration-none">Support</a></li>
                            <li><a href="pricing" class=" text-size-16 text text-decoration-none">Plan</a></li>
                            <li><a href="service" class=" text-size-16 text text-decoration-none">Benefits</a></li>
                            <!--<li><a href="team" class=" text-size-16 text text-decoration-none">Testimonial</a></li>-->
                            <!--<li><a href="comingsoon" class=" text-size-16 text text-decoration-none">Coming Soon</a></li>-->
                            <!--<li><a href="team" class=" text-size-16 text text-decoration-none">Members</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-12 d-lg-block d-none">
                    <div class="links">
                        <h4 class="heading">Legal</h4>
                        <hr class="line">
                        <ul class="list-unstyled mb-0">
                            <li><a href="contact" class=" text-size-16 text text-decoration-none">Terms & Conditions</a></li>
                            <li><a href="pricing" class=" text-size-16 text text-decoration-none">Privacy Policy</a></li>
                            <!--<li><a href="team" class=" text-size-16 text text-decoration-none">Testimonial</a></li>-->
                            <!--<li><a href="comingsoon" class=" text-size-16 text text-decoration-none">Coming Soon</a></li>-->
                            <!--<li><a href="team" class=" text-size-16 text text-decoration-none">Members</a></li>-->
                        </ul>
                    </div>
                </div>
                <!--<div class="col-lg-3 col-md-4 col-sm-6 col-12 d-sm-block">-->
                <div class="col-lg-3 col-md-3 col-sm-12 col-12 d-lg-block d-none">
                    <div class="icon">
                        <h4 class="heading">Get in Touch</h4>
                        <hr class="line">
                        <ul class="list-unstyled mb-0">
                          <li class="text-size-16 text1">Address: <a href="#" class="mb-0 text text-decoration-none text-size-16"> G-23,3rd Floor,Sector-3 Noida-201301 (UP) INDIA</a></li>
                            <li class="text-size-16 text">Email: <a href="mailto:support@pyrapay.com" class="mb-0 text text-decoration-none text-size-16">support@pyrapay.com</a></li>
                            <li class="text-size-16 text">Phone: <a href="tel:1800 102 7259" class="mb-0 text text-decoration-none text-size-16">1800 102 7259</a></li>
                            <li class="social-icons">
                                <div class="circle"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></div>
                                <div class="circle"><a href="#"><i class="fa-brands fa-twitter"></i></a></div>
                                <div class="circle"><a href="https://www.linkedin.com/in/pyra-pay-28b621265"><i class="fa-brands fa-linkedin"></i></a></div>
                                <div class="circle"><a href="https://www.instagram.com/pyrapay/"><i class="fa-brands fa-instagram"></i></a></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--footer area-->


<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-size-16">Copyright @2023 Repay. All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>
<!-- Latest compiled JavaScript -->
<script src="assets/js/jquery-3.6.0.min.js"> </script>
<script src="assets/js/bootstrap.min.js"> </script>
<script src="assets/js/video_link.js"></script>
<script src="assets/js/video.js"></script>
<script src="assets/js/counter.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/animation_links.js"></script>
<script src="assets/js/animation.js"></script>