<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="assets/images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="../ms-icon-144x144">
<meta name="theme-color" content="#ffffff">
<!-- Latest compiled and minified CSS -->
<link href="assets/bootstrap/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/js/bootstrap.min.js">
<!-- Font Awesome link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<!-- StyleSheet link CSS -->
<link href="assets/css/style.css" rel="stylesheet" type="text/css">
<link href="assets/css/responsive.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="assets/css/custom-style.css" type="text/css">
<link rel="stylesheet" href="assets/css/special-classes.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <!--Header-->
    <header class="header">
        <div class="container">
            <nav class="navbar position-relative navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index">
                    <figure class="mb-0"><img src="assets/images/logo-final-logo.png" alt="" style="width: 200px;"
                            class="img-fluid"></figure>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="about">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-color navbar-text-color" href="#"
                                id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> Our Services </a>
                            <div class="dropdown-menu drop-down-content">
                                <ul class="list-unstyled drop-down-pages">
                                    <li class="nav-item">
                                        <a class="dropdown-item nav-link" href="Neo">Neo Banking</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item nav-link" href="Gst-center"> GST Center</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item nav-link" href="Financial-service">Financial
                                            Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item nav-link" href="B2b-api">B2B API Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item nav-link" href="Other-service">Other Services</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-color navbar-text-color" href="#"
                                id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"> Join US </a>
                            <div class="dropdown-menu drop-down-content">
                                <ul class="list-unstyled drop-down-pages">
                                    <li class="nav-item">
                                        <a class="dropdown-item nav-link" href="Suryoday_csp">Suryoday BankCSP</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item nav-link" href="NSDL_csp">NSDL BANK CSP</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link signup" href="sign-up"><i class="fa-solid fa-user-lock"></i>Sign
                                Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link signup" href="#"><i class="fa-solid fa-user-lock"></i>Download App</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>