<!DOCTYPE html>
<html lang="eng">

<head>
    <title>pyrapay</title>
    <!-- /SEO Ultimate -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../ms-icon-144x144">
    <meta name="theme-color" content="#ffffff">
    <!-- Latest compiled and minified CSS -->
    <link href="assets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/js/bootstrap.min.js">
    <!-- Font Awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- StyleSheet link CSS -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/css/custom-style.css" type="text/css">
    <link rel="stylesheet" href="assets/css/special-classes.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
<!-- Login Form section-->
<section class="login-form d-flex align-items-center">
    <div class="container">
       <div class="login-form-title text-center">
          <a href="index-2">
          <figure class="login-page-logo">
             <img src="assets/images/login-page-logo" alt="">
          </figure>
          </a>
          <h2>Welcome back!</h2>
       </div>
          <div class="login-form-box">
             <div class="login-card">
                <form>
                   <div class="form-group">
                     <label for="exampleInputEmail1">Enter your e-mail</label>
                     <input class="input-field form-control" type="email" id="exampleInputEmail1"  placeholder="e.g. elon@tesla.com">
                   </div>
                   <div class="form-group">
                     <label for="exampleInputPassword1">Enter your password</label>
                     <input  class="input-field form-control" type="password" id="exampleInputPassword1" placeholder="Password">
                   </div>
                   <button type="submit" class="btn btn-primary">Login</button>
                   <div>
                      <label class="mb-0" style="cursor: pointer;">
                      <input class="checkbox" type="checkbox" name="userRememberMe">
                      Remember me
                      </label>
                      <a href="#" class="forgot-password float-right">Lost Password?</a>
                   </div>
                </form>
             </div>
             <div class="join-now-outer text-center">
                <a class="mb-0" href="sign-up">Join now, create your FREE account</a>
             </div>
          </div>   
    </div>
    <figure class="mb-0 need-layer">
        <img src="assets/images/need-layer.png" alt="" class="img-fluid">
    </figure>
</section>
<!-- Latest compiled JavaScript -->
<script src="assets/js/jquery-3.6.0.min.js"> </script>
<script src="assets/js/bootstrap.min.js"> </script>
<script src="assets/js/video_link.js"></script>
<script src="assets/js/video.js"></script>
<script src="assets/js/counter.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/animation_links.js"></script>
<script src="assets/js/animation.js"></script>
</body>

</html>