<!DOCTYPE html>
<html lang="eng">

<head>
    <title>pyrapay</title>
    <!-- /SEO Ultimate -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta charset="utf-8">
    
    <%-include('./header')%>
<!--Banner-->
<section class="bannermain position-relative" style="padding-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="banner" data-aos="fade-right">
                    <!--<h6>Neo-Banking</h6>-->
                    <h1><span>Neo-Banking</span></h1>
                    <p class="banner-text">A neo-bank is the most recent digitisation development in the modern financial technology company.
                    Neo banking provides financial services online or with a mobile app.</p>
                    <P class="banner-text">Neo banks, sometimes known as "challenger banks," frequently focus on a small number of financial activities, 
                    such as spending and saving, and they insure deposits in partnership with a bank that is insured by the Federal Deposit Insurance Corporation.</P>
                </div>
            </div>
            <!--<div class=" col-lg-7 col-md-7 col-sm-12">-->
            <!--    <div class="banner-wrapper">-->
            <!--        <figure class="mb-0 homeelement1">-->
            <!--            <img src="assets/images/homeelement1.png" class="img-fluid" alt="">-->
            <!--        </figure>-->
            <!--        <figure class="mb-0 content img-bg">-->
            <!--            <img src="assets/images/homebanner-img-bg.png" alt="banner-image-bg" style="padding-left: 145px; height: 665px; padding-top: 65px; padding-bottom: 50px;">-->
            <!--        </figure>-->
            <!--    </div>-->
            <!--</div>-->
        </div>
    </div>
</section>



<!-- manage -->
<section class="manage-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="manage-content"  data-aos="fade-right">
                    <h2>Advantage</h2>
                    <div class="first">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                <figure class="mb-0 icon">
                                    <img src="assets/images/manageyour-user-friendly-icon.png" alt="">
                                </figure>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                                <div class="content">
                                    <!--<h4>User Friendly</h4>-->
                                    <p class="text-size-16 text">The technology enables users to explore the Neo Bank apps quickly, 
                                    conveniently, and efficiently.Loan and money transfer operations may be handled swiftly on a neo bank.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="secound">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                <figure class="mb-0 icon">
                                    <img src="assets/images/manageyour-best-support-icon.png" alt="">
                                </figure>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                                <div class="content">
                                    <!--<h4>Best Support</h4>-->
                                    <p class="text-size-16">Unlike traditional banks, neo-banks allow consumers to create an account in a few simple steps.
                                    They are free to develop digital initiatives such as giving a mobile/web interface for their goods.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="third">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                <figure class="mb-0 icon">
                                    <img src="assets/images/manageyour-secure-icon.png" alt="">
                                </figure>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                                <div class="content">
                                    <!--<h4>Secure</h4>-->
                                    <p class="text-size-16">Due to the lack of physical branches, fewer regulations, less credit risk, 
                                    a new bank's operational expenses are kept low, resulting in improved income. There are no monthly maintenance expenses.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="manage-wrapper">
                    <figure class="mb-0 homeelement1">
                        <img src="assets/images/homeelement1.png" class="img-fluid" alt="">
                    </figure>
                    <figure class="mb-0 manage-image">
                        <img src="assets/images/manage-your-everything-image.png" class="img-fluid" alt="">
                    </figure>
                    <figure class="mb-0 content img-bg">
                        <img src="assets/images/manageyour-mange-your-bg.png" alt="" class="">
                    </figure>
                    <figure class="mb-0 homeelement">
                        <img src="assets/images/homeelement.png" class="img-fluid" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <figure class="mb-0 manage-layer">
        <img src="assets/images/mange-layer.png" alt="" class="img-fluid">
    </figure>
</section>

<section class="blog-section position-relative">
    <div class="container">
        <div class="blogslider row aos-init" data-aos="fade-up">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="blog-box">
                    <figure>
                        <img src="./assets/images/firstblog.png" alt="" class="img-fluid">
                    </figure>
                    <div class="content content1">
                        <a class="button">PAN CARD</a>
                        <p class="h4">The Impact Of Online Payments Will Make All Banks Use ATMs</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="blog-box">
                    <figure>
                        <img src="./assets/images/secondblog.png" alt="" class="img-fluid">
                    </figure>
                    <div class="content">
                        <a class="button button1">AEPS</a>
                        <p class="h4">Is Now A Good Time To Worry More About Financial Inflation</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="blog-box">
                    <figure class="blogimage">
                        <img src="./assets/images/thirdblog.png" alt="">
                    </figure>
                    <div class="content">
                        <a class="button button1">FD & RD</a>
                        <p class="h4">New SaaS Online Payment Platform Raises $15 Million Per Year</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="blog-box">
                    <figure class="blogimage">
                        <img src="./assets/images/thirdblog.png" alt="">
                    </figure>
                    <div class="content">
                        <a class="button button1">FD & RD</a>
                        <p class="h4">New SaaS Online Payment Platform Raises $15 Million Per Year</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="blog-box">
                    <figure class="blogimage">
                        <img src="./assets/images/thirdblog.png" alt="">
                    </figure>
                    <div class="content">
                        <a class="button button1">FD & RD</a>
                        <p class="h4">New SaaS Online Payment Platform Raises $15 Million Per Year</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Contact-->
<section class="message-sections" style="padding: 0px;">
    <div class="container">
        <div class="row position-relative">
            <div class="col-12">
                <div class="content">
                    <h6>GET IN TOUCH</h6>
                    <h2>Start your journey</h2>
                    <figure class="element3 mb-0">
                        <img src="assets/images/what-we-do-element.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="message_contents" data-aos="fade-up">
                    <form id="contactpage" method="POST" action="https://html.designingmedia.com/repay/contact-form.php">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-0"> 
                                    <input type="text" class="form_style" placeholder="Enter Your Name" name="name"> 
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <input type="email" class="form_style" placeholder="Enter Your Email Address" name="emailid">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <input type="tel" class="form_style" placeholder="Enter Your Phone Number" name="phone">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <input type="tel" class="form_style" placeholder="Enter Your Phone Number" name="phone">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <input type="tel" class="form_style" placeholder="Enter Your Phone Number" name="phone">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0"> 
                                    <textarea class="form_style" placeholder="Add Your Comment" rows="3" name="msg"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="manage-button text-center">
                            <button type="submit" class="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div>
                    <img src="assets/images/contact-us-image.jpg" alt=""  width="100%">
                </div>
            </div>
        </div>
    </div>
</section>


<%-include('./footer')%>
</body>


</html>