<!DOCTYPE html>
<html lang="eng">

<head>
    <title>pyrapay</title>
    <!-- /SEO Ultimate -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta charset="utf-8">
    
    <%-include('./header')%>
<!--Banner-->
<section class="bannermain position-relative"  style="padding-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="banner" data-aos="fade-right">
                    <h6>Simple. Transparent. Secure </h6>
                    <h1>"The <span>Secure way of Payment </span> with Pyra Pay"</h1>
                    <p class="banner-text">Make your payment with Pyra Pay, Get amazing deals and exciting offers with simple few clicks </p>
                     <form id="feature_Form" action="" autocomplte="off" method="post" class=" button_text-1 form-search d-flex " data-aos="fade-up" data-aos-delay="200">
                       <input style="height:60px" type="text" name="contact" id="contact" minlength="10" maxlength="10" class="form-control" placeholder="Enter Mobile No." fdprocessedid="gck61">
                       <button type="button" id="button" class="button_textt" fdprocessedid="uihdi">Go</button>
                     </form>
                </div>
            </div>
            <div class=" col-lg-7 col-md-7 col-sm-12">
                <div class="banner-wrapper">
                    <figure class="mb-0 homeelement1">
                        <img src="assets/images/homeelement1.png" class="img-fluid" alt="">
                    </figure>
                    <!--<figure class="mb-0 banner-image">-->
                    <!--    <img src="assets/images/homebanner-image.png" class="img-fluid" alt="banner-image">-->
                    <!--</figure>-->
                    <figure class="mb-0 content img-bg">
                        <img src="assets/images/homebanner-img-bg.png" alt="banner-image-bg" style="padding-left: 145px; height: 665px; padding-top: 65px; padding-bottom: 50px;">
                    </figure>
                    <!--<figure class="mb-0 homeelement">-->
                    <!--    <img src="assets/images/homeelement.png" class="img-fluid" alt="">-->
                    <!--</figure>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--What-we-do-->
<section class="what-we-do position-relative">
    <div class="container">
        <!--<figure class="element1 mb-0">-->
        <!--    <img src="assets/images/what-we-do-icon-1.png" class="img-fluid" alt="">-->
        <!--</figure>-->
        <div class="row">
            <div class="col-12">
                <div class="subheading" data-aos="fade-right">
                    <h6>What we do</h6>
                    <h2>Get dive into the bucket of financial services, Choose accordingly</h2>
                </div>
            </div>
        </div>
        <div class="row position-relative">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1">
                    <figure class="img">
                        <img src="assets/images/what-we-do-credit-debit-icon.png" alt="" class="img-fluid">
                    </figure>
                    <h3>Pos Machine</h3>
                    <p class="mb-0 text-size-18">We are a payments specialist, focused on helping you grow your business and form an alliance between us.</p>
                </div>
            </div>
            <figure class="arrow1 mb-0" data-aos="fade-down">
                <img src="assets/images/what-we-do-arrow-1.png"  class="img-fluid" alt="">
            </figure>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1 service2">
                    <figure class="img">
                        <img src="assets/images/what-we-do-growth--icon.png" alt="" class="img-fluid">
                    </figure>
                    <h3>Lowest MDR</h3>
                    <p class="mb-0 text-size-18">Yes, India’s lowest MDR is here on POS machine, with no hidden charges</p>
                </div>
            </div>
            <figure class="arrow2 mb-0" data-aos="fade-up">
                <img src="assets/images/what-we-do-arrow-2.png"  class="img-fluid" alt="">
            </figure>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1">
                    <figure class="img">
                        <img src="assets/images/what-we-do-connected-people-icon.png" alt="" class="img-fluid">
                    </figure>
                    <h3>Easy Loans</h3>
                    <p class="mb-0 text-size-18"> Get a loan of up to Rs. 5 lakhs for all your needs with no processing fees and no collateral.</p>
                </div>
            </div>
            <figure class="element3 mb-0">
                <img src="assets/images/what-we-do-element.png" alt="">
            </figure>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12 col-12">

            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="account" data-aos="fade-right">
                    <div class="accounticon">
                        <figure class="mb-0">
                            <img src="assets/images/what-we-do-personal-account-icon.png" class="img-fluid" alt="">
                        </figure>
                    </div>
                    <div class="heading">
                        <h3 class="mb-0">PERSONAL ACCOUNT</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="account" data-aos="fade-right">
                    <div class="accounticon">
                        <figure class="mb-0">
                            <img src="assets/images/what-we-do-business-account-icon-2.png" class="img-fluid" alt="">
                        </figure>
                    </div>
                    <div class="heading">
                        <h3 class="mb-0">BUSINESS ACCOUNT</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-12">

            </div>
            <!--<figure class="element2 mb-0">-->
            <!--    <img src="assets/images/what-we-do-icon-2.png" class="img-fluid" alt="">-->
            <!--</figure>-->
        </div>
    </div>
</section>
<!--About Repay-->
<!--<section class="about-repay">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6 col-md-6 col-sm-12 col-12">-->
<!--                <div class="about-wrapper">-->
<!--                    <figure class="circle mb-0">-->
<!--                        <img src="assets/images/image-2-bg.png" alt="">-->
<!--                    </figure>-->
<!--                    <div class="position-relative">-->
<!--                        <a class="popup-vimeo" href="https://video-previews.elements.envatousercontent.com/h264-video-previews/d1c81f1e-849f-4d45-ae57-b61c2f5db34a/25628048.mp4">-->
<!--                            <figure class="mb-0 videobutton">-->
<!--                                <img class="thumb img-fluid" style="cursor: pointer" src="assets/images/play-button.png" alt="">-->
<!--                            </figure>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <figure class="image mb-0">-->
<!--                        <img src="assets/images/image-2.png" alt="" class="img-fluid">-->
<!--                    </figure>-->
<!--                    <figure class="homeelement mb-0">-->
<!--                        <img src="assets/images/homeelement.png" alt="" class="img-fluid">-->
<!--                    </figure>-->
<!--                    <figure class="homeelement1 mb-0">-->
<!--                        <img src="assets/images/homeelement.png" alt="" class="img-fluid">-->
<!--                    </figure>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-6 col-md-6 col-sm-12 col-12">-->
<!--                <div class="about-content"  data-aos="fade-up">-->
<!--                    <h6>About Pyra Pay</h6>-->
<!--                    <h2>We Have The Most Users All Over The World</h2>-->
<!--                    <p class="text-size-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>-->
<!--                    <p class="text-size-18 text">magna aliquaQuis ipsum suspendisse ultrices gravida. Risus com- modo viverra maecenas.</p>-->
<!--                    <div class="right-lower">-->
<!--                        <figure class="mb-0 icon">-->
<!--                            <img src="assets/images/happy-customer-icon.png" alt="" class="img-fluid">-->
<!--                        </figure>-->
<!--                        <div class="content">-->
<!--                            <span>55k+</span>-->
<!--                            <h4 class="mb-0">Happy Customers</h4>-->
<!--                        </div>-->
<!--                        <figure class="mb-0 icon">-->
<!--                            <img src="assets/images/total-customers-icon.png" alt="" class="img-fluid">-->
<!--                        </figure>-->
<!--                        <div class="content content1">-->
<!--                            <span>$249M+</span>-->
<!--                            <h4 class="mb-0">Total Transections</h4>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--About Repay-->
<section class="about-repay repay-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="about-wrapper">
                    <figure class="circle mb-0">
                        <img src="assets/images/image-2-bg.png" alt="">
                    </figure>
                    <div class="position-relative">
                        <a class="popup-vimeo" href="https://video-previews.elements.envatousercontent.com/h264-video-previews/d1c81f1e-849f-4d45-ae57-b61c2f5db34a/25628048.mp4">
                            <figure class="mb-0 videobutton">
                                <img class="thumb img-fluid" style="cursor: pointer" src="assets/images/play-button.png" alt="">
                            </figure>
                        </a>
                    </div>
                    <figure class="image mb-0">
                        <img src="assets/images/image-2.png" alt="" class="img-fluid">
                    </figure>
                    <figure class="homeelement mb-0">
                        <img src="assets/images/homeelement.png" alt="" class="img-fluid">
                    </figure>
                    <figure class="homeelement1 mb-0">
                        <img src="assets/images/homeelement.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="about-content" data-aos="fade-up">
                    <h6>ABOUT REPAY</h6>
                    <h2>“Turning Decisions into Profits for Your Business!”</h2>
                    <p class="text-size-18">“One-stop solution for all your financial services- New Ways to serve more”
                                           Complete your cellphone recharge, bill payment, account opening, cash withdrawal, mini statement, AEPS, Fixed Deposits, and DMT (Domestic Money Transfer).</p>
                    <p class="text-size-18 text">We employ cutting-edge technology to provide the greatest client experience possible through our services. </p>
                    <div class="right-lower">
                        <figure class="mb-0 icon">
                            <img src="assets/images/happy-customer-icon.png" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <span>55k+</span>
                            <h4 class="mb-0">Happy Customers</h4>
                        </div>
                        <figure class="mb-0 icon">
                            <img src="assets/images/total-customers-icon.png" alt="" class="img-fluid">
                        </figure>
                        <div class="content content1">
                            <span>$249M+</span>
                            <h4 class="mb-0">Total Transections</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <figure class="mb-0 about-repaylayer">
        <img src="assets/images/about-repaylayer.png" alt="" class="img-fluid">
    </figure>
</section>

<!--Services section-->
<section class="service-section" style="padding-top: 30px;padding-bottom:0px">
    <div class="container">
        <div class="row position-relative">
        </div>
        <div class="services-data">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img1">
                            <img src="assets/images/services-payment-management-icon.png" alt=""  data-aos="fade-right">
                        </figure>
                        <div class="content">
                            <h3>Cash Withdrawal</h3>
                            <p class="text-size-18">AEPS enables the cash withdrawal services from their aadhar linked account using fingerprint and aadhar number.</p>
                            <a href="pricing" class="more">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img2">
                            <img src="assets/images/services-dashboard-icon.png" alt=""  data-aos="fade-right">
                        </figure>
                        <div class="content">
                            <h3>Bill Payment</h3>
                            <p class="text-size-18">Pay your mobile bill, water bills, electricity bill etc using our user friendly platform.</p>
                            <a href="pricing" class="more">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img3">
                            <img src="assets/images/services-integrated-payment-icon.png" alt=""   data-aos="fade-right">
                        </figure>
                        <div class="content">
                            <h3>Cash Deposits</h3>
                            <p class="text-size-18">Deposits your cash into bank account without visiting any bank branch.</p>
                            <a href="pricing" class="more">More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img4">
                            <img src="assets/images/services-friendly.png" alt=""   data-aos="fade-right">
                        </figure>
                        <div class="content">
                            <h3>Money transfer</h3>
                            <p class="text-size-18">Transfer money from your bank account to anyone without being delayed domestically.</p>
                            <a href="pricing" class="more">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img4">
                            <img src="assets/images/services-friendly.png" alt=""   data-aos="fade-right">
                        </figure>
                        <div class="content">
                            <h3>Insurance</h3>
                            <p class="text-size-18">Get insurance according to your need, we have plenty of options like health, vehicle, etc.</p>
                            <a href="pricing" class="more">More</a>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-4 col-md-4 col-sm-12 col-12">-->
                <!--    <figure class="mb-0 mobile-image" data-aos="fade-right">-->
                <!--        <img src="assets/images/services-mobile-image.png" alt="" class="img-fluid">-->
                <!--    </figure>-->
                <!--</div>-->
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img5">
                            <img src="assets/images/services-credit-debit-icon.png" alt=""  data-aos="fade-right">
                        </figure>
                        <div class="content">
                            <h3>Loans and more</h3>
                            <p class="text-size-18">get loans with few simple clicks and leverage the benefits of other services too.</p>
                            <a href="pricing" class="more">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- manage -->
<section class="manage-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="manage-content"  data-aos="fade-right">
                    <h2>“Leverage the benefits of our services with”</h2>
                    <div class="first">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                <figure class="mb-0 icon">
                                    <img src="assets/images/manageyour-user-friendly-icon.png" alt="">
                                </figure>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                                <div class="content">
                                    <h4>User Friendly</h4>
                                    <p class="text-size-16 text">Pyra Pay is popular and simple to use.Pyra Pay transactions do not need a long or time-consuming process.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="secound">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                <figure class="mb-0 icon">
                                    <img src="assets/images/manageyour-best-support-icon.png" alt="">
                                </figure>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                                <div class="content">
                                    <h4>Best Support</h4>
                                    <p class="text-size-16">Our latest cutting edge payment gateway technology is preventing online threats and securing our server to proceed safely.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="third">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                <figure class="mb-0 icon">
                                    <img src="assets/images/manageyour-secure-icon.png" alt="">
                                </figure>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                                <div class="content">
                                    <h4>Secure</h4>
                                    <p class="text-size-16">Our sole focus is to deliver the best service experience to our customers, you’ll get a lot more value after joining us.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="manage-wrapper">
                    <figure class="mb-0 homeelement1">
                        <img src="assets/images/homeelement1.png" class="img-fluid" alt="">
                    </figure>
                    <figure class="mb-0 manage-image">
                        <img src="assets/images/manage-your-everything-image.png" class="img-fluid" alt="">
                    </figure>
                    <figure class="mb-0 content img-bg">
                        <img src="assets/images/manageyour-mange-your-bg.png" alt="" class="">
                    </figure>
                    <figure class="mb-0 homeelement">
                        <img src="assets/images/homeelement.png" class="img-fluid" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <figure class="mb-0 manage-layer">
        <img src="assets/images/mange-layer.png" alt="" class="img-fluid">
    </figure>
</section>
<!-- plan and pricing -->
<!-- <section class="plan">
    <div class="container">
        <figure class="element1 mb-0">
            <img src="assets/images/what-we-do-icon-1.png" class="img-fluid" alt="">
        </figure>
        <div class="row position-relative">
            <div class="col-12">
                <div class="content" data-aos="fade-right">
                    <h6>PLAN AND PRICING</h6>
                    <h2>Helping You Make Smart Financial Choices</h2>
                    <figure class="element3 mb-0">
                        <img src="assets/images/what-we-do-element.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="pricing">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h3>Bank Transfer</h3>
                            <p class="mb-0 text1 text">*Fees (excl VAT)</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="online-payment">Online Payment</h4>
                            <p class="mb-0 text1 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="payout">Payout</h4>
                            <p class="mb-0 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <figure class="mb-0 icon">
                                <img src="assets/images/price-payment-icon.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="pricing">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h3>e-Wallet</h3>
                            <p class="mb-0 text1 text">*Need Verification </p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="online-payment">Online Payment</h4>
                            <p class="mb-0 text1 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="payout">Payout</h4>
                            <p class="mb-0 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <figure class="mb-0 icon">
                                <img src="assets/images/price-payment-icon.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="pricing">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h3>Credit Card</h3>
                            <p class="mb-0 text1 text">*Fees (excl VAT)</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="online-payment">Online Payment</h4>
                            <p class="mb-0 text1 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="payout">Payout</h4>
                            <p class="mb-0 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <figure class="mb-0 icon">
                                <img src="assets/images/price-payment-icon.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="pricing box">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h3>Cardless Credit</h3>
                            <p class="mb-0 text1 text">*Account Must be registered</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="online-payment">Online Payment</h4>
                            <p class="mb-0 text1 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="payout">Payout</h4>
                            <p class="mb-0 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <figure class="mb-0 icon">
                                <img src="assets/images/price-payment-icon.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row position-relative">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="facility" data-aos="fade-up">
                    <ul class="mb-0 list-unstyled">
                        <li class="text1">
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">Free Account</p>
                        </li>
                        <li class="text2">
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">No Monthly Cost</p>
                        </li>
                        <li class="text3">
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">No Fee Setup</p>
                        </li>
                        <li class="text4">
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">Easy to Setup</p>
                        </li>
                        <li class="text5">
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">Integration</p>
                        </li>
                        <li class="text6">
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">Custom price</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <figure class="element2 mb-0">
            <img src="assets/images/what-we-do-icon-2.png" class="img-fluid" alt="">
        </figure>
    </div>
</section> -->
<!-- need more help? -->
<!-- <section class="need-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content" data-aos="fade-right">
                    <h6>NEED MORE HELP?</h6>
                    <h2>Leading, Trusted. Enabling growth.</h2>
                    <p class="text-size-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuntabore et dolore aliquaQuis ipsum suspe.</p>
                </div>
            </div>
        </div>
        <div class="row position-relative">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1">
                    <figure class="img img1">
                        <img src="assets/images/need-sales-icon.png" alt="" class="img-fluid">
                    </figure>
                    <h3>Sales</h3>
                    <p class="text-size-18">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed</p>
                    <a href="contact" class="btn">Contact Sales</a>
                </div>
            </div>
            <figure class="arrow1 mb-0" data-aos="fade-down">
                <img src="assets/images/need-arrow1.png" class="img-fluid" alt="">
            </figure>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1 service2">
                    <figure class="img img2">
                        <img src="assets/images/need-more-icon2.png" alt="" class="img-fluid">
                    </figure>
                    <h3>Help & Support</h3>
                    <p class="text-size-18">Labore et dolore magna aliqua quis ipsum suspendisse ultrices</p>
                    <a href="contact" class="btn">Get Support</a>
                </div>
            </div>
            <figure class="arrow2 mb-0" data-aos="fade-up">
                <img src="assets/images/need-arrow-2.png" class="img-fluid" alt="">
            </figure>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1">
                    <figure class="img img3">
                        <img src="assets/images/need-more-icon-3.png" alt="" class="img-fluid">
                    </figure>
                    <h3>Article & News</h3>
                    <p class="text-size-18">viverra maecenas accumsan lacus vel facili sis consectetur adipiscing</p>
                    <a href="contact" class="btn">Read Article</a>
                </div>
            </div>
        </div>
    </div>
    <figure class="mb-0 need-layer">
        <img src="assets/images/need-layer.png" alt="" class="img-fluid">
    </figure>
</section> -->
<!-- Partner -->

<%-include('./footer')%>
</body>


</html>