<!DOCTYPE html>
<html lang="eng">

<head>
    <title>pyrapay</title>
    <!-- /SEO Ultimate -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta charset="utf-8">
    

    <%-include('./header')%>
<!-- Sub-Banner -->
<div class="sub-banner">
    <section class="banner-section">
        <figure class="mb-0 bgshape">
            <img src="assets/images/homebanner-bgshape.png" alt="" class="img-fluid">
        </figure>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="banner_content">
                        <h1>Pricing Plan</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>    
    </section>
    <div class="box">
        <span class="mb-0 text-size-16">Home</span><span class="mb-0 text-size-16 dash">-</span><span class="mb-0 text-size-16 box_span">Pricing</span>
    </div>
</div>
<!-- plan and pricing -->
<section class="plan">
    <div class="container">
        <figure class="element1 mb-0">
            <img src="assets/images/what-we-do-icon-1.png" class="img-fluid" alt="">
        </figure>
        <div class="row position-relative">
            <div class="col-12">
                <div class="content" data-aos="fade-right">
                    <h6>PLAN AND PRICING</h6>
                    <h2>Helping You Make Smart Financial Choices</h2>
                    <figure class="element3 mb-0">
                        <img src="assets/images/what-we-do-element.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="pricing">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h3>Bank Transfer</h3>
                            <p class="mb-0 text1 text">*Fees (excl VAT)</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="online-payment">Online Payment</h4>
                            <p class="mb-0 text1 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="payout">Payout</h4>
                            <p class="mb-0 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <figure class="mb-0 icon">
                                <img src="assets/images/price-payment-icon.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="pricing">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h3>e-Wallet</h3>
                            <p class="mb-0 text1 text">*Need Verification </p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="online-payment">Online Payment</h4>
                            <p class="mb-0 text1 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="payout">Payout</h4>
                            <p class="mb-0 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <figure class="mb-0 icon">
                                <img src="assets/images/price-payment-icon.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="pricing">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h3>Credit Card</h3>
                            <p class="mb-0 text1 text">*Fees (excl VAT)</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="online-payment">Online Payment</h4>
                            <p class="mb-0 text1 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="payout">Payout</h4>
                            <p class="mb-0 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <figure class="mb-0 icon">
                                <img src="assets/images/price-payment-icon.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="pricing box">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h3>Cardless Credit</h3>
                            <p class="mb-0 text1 text">*Account Must be registered</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="online-payment">Online Payment</h4>
                            <p class="mb-0 text1 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="payout">Payout</h4>
                            <p class="mb-0 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <figure class="mb-0 icon">
                                <img src="assets/images/price-payment-icon.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row position-relative">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="facility" data-aos="fade-up">
                    <ul class="mb-0 list-unstyled">
                        <li>
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">Free Account</p>
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">No Monthly Cost</p>
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">No Fee Setup</p>
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">Easy to Setup</p>
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">Integration</p>
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">Custom price</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <figure class="element2 mb-0">
            <img src="assets/images/what-we-do-icon-2.png" class="img-fluid" alt="">
        </figure>
    </div>
</section>
<!--FAQ section-->
<section class="faq-section accordian-section manage-section pricing-faq">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="subheading">
                    <h6>General Questions</h6>
                    <h2>Frequently Asked Questions</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="faq" data-aos="fade-up">
                    <div class="row">
                        <div class="col-12">
                            <div class="accordian-section-inner position-relative">
                                <div class="accordian-inner">
                                    <div id="accordion1">
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingOne">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    <h4>Where Can I Find More Information?</h4>
                                                </a>
                                            </div>
                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingTwo">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <h4>What Are Your Terms and Conditions?</h4>
                                                </a>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingThree">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    <h4>What Kinds of Payment Do You Accept?</h4>
                                                </a>
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="faq-content" data-aos="fade-up">
                    <div class="row">
                        <div class="col-12">
                            <div class="accordian-section-inner position-relative">
                                <div class="accordian-inner">
                                    <div id="accordion2">
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingFour">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    <h4>Where Can I Find More Information?</h4>
                                                </a>
                                            </div>
                                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingFive">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                    <h4>What Are Your Terms and Conditions?</h4>
                                                </a>
                                            </div>
                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-card">
                                            <div class="card-header" id="headingSix">
                                                <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                    <h4>What Kinds of Payment Do You Accept?</h4>
                                                </a>
                                            </div>
                                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
                                                <div class="card-body">
                                                    <p class="text-size-16 text-left mb-0 p-0">Labore et dolore magna aliqua quis ipsum suspendis seultrices gravida risus commo ddolore.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <figure class="mb-0 manage-layer">
        <img src="assets/images/mange-layer.png" alt="" class="img-fluid">
    </figure>
</section>
<!-- Partner -->


<%-include('./footer')%>
</body>

</html>