<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Service | Repay</title>
    <!-- /SEO Ultimate -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta charset="utf-8">
    
  
    <%-include('./header')%>
<section class="bannermain position-relative" style="padding-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="banner" data-aos="fade-right">
                    <h6>Simple. Transparent. Secure </h6>
                    <h1>"The <span>Secure way of Payment </span> with Pyra Pay"</h1>
                    <p class="banner-text">Make your payment with Pyra Pay, Get amazing deals and exciting offers with simple few clicks </p>
                </div>
            </div>
            <div class=" col-lg-7 col-md-7 col-sm-12">
                <div class="banner-wrapper">
                    <!--<figure class="mb-0 homeelement1">-->
                    <!--    <img src="assets/images/homeelement1.png" class="img-fluid" alt="">-->
                    <!--</figure>-->
                    <!--<figure class="mb-0 content img-bg">-->
                    <!--    <img src="assets/images/homebanner-img-bg.png" alt="banner-image-bg" style="padding-left: 145px; height: 665px; padding-top: 65px; padding-bottom: 50px;">-->
                    <!--</figure>-->
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Sub-Banner -->
<!--<div class="sub-banner">-->
<!--    <section class="banner-section">-->
<!--        <figure class="mb-0 bgshape">-->
<!--            <img src="assets/images/homebanner-bgshape.png" alt="" class="img-fluid">-->
<!--        </figure>-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12 col-md-12 col-sm-12 col-12">-->
<!--                    <div class="banner_content">-->
<!--                        <h1>Our Services</h1>-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>    -->
<!--    </section>-->
<!--    <div class="box">-->
<!--        <span class="mb-0 text-size-16">Home</span><span class="mb-0 text-size-16 dash">-</span><span class="mb-0 text-size-16 box_span">Service</span>-->
<!--    </div>-->
<!--</div>-->
<!--Services section-->
<!--<section class="service-section service position-relative">-->
<!--    <div class="container">-->
        <!--<figure class="mb-0 services-icon">-->
        <!--    <img src="assets/images/services-our-services-icon-1.png" class="img-fluid" alt="">-->
        <!--</figure>-->
<!--        <div class="services-data">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-4 col-md-4 col-sm-12 col-12">-->
<!--                    <div class="service-box1">-->
<!--                        <figure class="img img1">-->
<!--                            <img src="assets/images/services-payment-management-icon.png" alt="" class="img-fluid">-->
<!--                        </figure>-->
<!--                        <div class="content">-->
<!--                            <h3>Payment Management</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                 <div class="col-lg-4 col-md-4 col-sm-12 col-12">-->
<!--                    <div class="service-box1">-->
<!--                        <figure class="img img1">-->
<!--                            <img src="assets/images/services-payment-management-icon.png" alt="" class="img-fluid">-->
<!--                        </figure>-->
<!--                        <div class="content">-->
<!--                            <h3>Payment Management</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                 <div class="col-lg-4 col-md-4 col-sm-12 col-12">-->
<!--                    <div class="service-box1">-->
<!--                        <figure class="img img1">-->
<!--                            <img src="assets/images/services-payment-management-icon.png" alt="" class="img-fluid">-->
<!--                        </figure>-->
<!--                        <div class="content">-->
<!--                            <h3>Payment Management</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                 <div class="col-lg-4 col-md-4 col-sm-12 col-12">-->
<!--                    <div class="service-box1">-->
<!--                        <figure class="img img1">-->
<!--                            <img src="assets/images/services-payment-management-icon.png" alt="" class="img-fluid">-->
<!--                        </figure>-->
<!--                        <div class="content">-->
<!--                            <h3>Payment Management</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                 <div class="col-lg-4 col-md-4 col-sm-12 col-12">-->
<!--                    <div class="service-box1">-->
<!--                        <figure class="img img1">-->
<!--                            <img src="assets/images/services-payment-management-icon.png" alt="" class="img-fluid">-->
<!--                        </figure>-->
<!--                        <div class="content">-->
<!--                            <h3>Payment Management</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                 <div class="col-lg-4 col-md-4 col-sm-12 col-12">-->
<!--                    <div class="service-box1">-->
<!--                        <figure class="img img1">-->
<!--                            <img src="assets/images/services-payment-management-icon.png" alt="" class="img-fluid">-->
<!--                        </figure>-->
<!--                        <div class="content">-->
<!--                            <h3>Payment Management</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                 <div class="col-lg-4 col-md-4 col-sm-12 col-12">-->
<!--                    <div class="service-box1">-->
<!--                        <figure class="img img1">-->
<!--                            <img src="assets/images/services-payment-management-icon.png" alt="" class="img-fluid">-->
<!--                        </figure>-->
<!--                        <div class="content">-->
<!--                            <h3>Payment Management</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-4 col-sm-12 col-12">-->
<!--                    <div class="service-box1">-->
<!--                        <figure class="img img2">-->
<!--                            <img src="assets/images/services-dashboard-icon.png" alt="" class="img-fluid">-->
<!--                        </figure>-->
<!--                        <div class="content">-->
<!--                            <h3>Personal Dashboard</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-4 col-sm-12 col-12">-->
<!--                    <div class="service-box1">-->
<!--                        <figure class="img img3">-->
<!--                            <img src="assets/images/services-integrated-payment-icon.png" alt="" class="img-fluid">-->
<!--                        </figure>-->
<!--                        <div class="content">-->
<!--                            <h3>Integrated Payments</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-lg-4 col-md-4 col-sm-12 col-12">-->
<!--                    <div class="service-box1">-->
<!--                        <figure class="img img4">-->
<!--                            <img src="assets/images/services-friendly.png" alt="" class="img-fluid">-->
<!--                        </figure>-->
<!--                        <div class="content">-->
<!--                            <h3>Business Tracking</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-4 col-sm-12 col-12">-->
<!--                    <div class="service-box1">-->
<!--                        <figure class="img img5">-->
<!--                            <img src="assets/images/services-credit-debit-icon.png" alt="" class="img-fluid">-->
<!--                        </figure>-->
<!--                        <div class="content">-->
<!--                            <h3>Credit & Debit Card</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-4 col-sm-12 col-12">-->
<!--                    <div class="service-box1">-->
<!--                        <figure class="img img6">-->
<!--                            <img src="assets/images/secure.png" alt="" class="img-fluid">-->
<!--                        </figure>-->
<!--                        <div class="content">-->
<!--                            <h3>Secure Payments</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!--<figure class="element1 mb-0">-->
        <!--    <img src="assets/images/what-we-do-icon-1.png" class="img-fluid" alt="">-->
        <!--</figure>-->
<!--    </div>-->
<!--</section>-->
<section class="service-section">
    <div class="container">
        <div class="row position-relative">
        </div>
        <div class="services-data">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box1">
                        <figure class="img img1">
                            <img src="assets/images/services-payment-management-icon.png" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Payment Management </h3>
                            <p class="text-size-18">Lorem in cididod temunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box1">
                        <figure class="img img2">
                            <img src="assets/images/services-dashboard-icon.png" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Personal Dashboard </h3>
                            <p class="text-size-18">Lorem in cididod temunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box1">
                        <figure class="img img3">
                            <img src="assets/images/services-integrated-payment-icon.png" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Integrated Payments </h3>
                            <p class="text-size-18">Lorem in cididod temunt.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="align-items: center;">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box1">
                        <figure class="img img4">
                            <img src="assets/images/services-friendly.png" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Business Tracking </h3>
                            <p class="text-size-18">Lorem in cididod temunt.</p>
                        </div>
                    </div>
                        <div class="service-box1">
                        <figure class="img img5">
                            <img src="assets/images/services-credit-debit-icon.png" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Credit & Debit Card </h3>
                            <p class="text-size-18">Lorem in cididod temunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <figure class="mb-0 mobile-image" data-aos="fade-right">
                        <img src="assets/images/services-mobile-image.png" alt="" class="img-fluid">
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box1">
                        <figure class="img img5">
                            <img src="assets/images/services-credit-debit-icon.png" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Credit & Debit Card </h3>
                            <p class="text-size-18">Lorem in cididod temunt.</p>
                        </div>
                    </div>
                    <div class="service-box1">
                        <figure class="img img5">
                            <img src="assets/images/services-credit-debit-icon.png" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Credit & Debit Card </h3>
                            <p class="text-size-18">Lorem in cididod temunt.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box1">
                        <figure class="img img1">
                            <img src="assets/images/services-payment-management-icon.png" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Payment Management </h3>
                              <p class="text-size-18">Lorem in cididod temunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box1">
                        <figure class="img img2">
                            <img src="assets/images/services-dashboard-icon.png" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Personal Dashboard </h3>
                              <p class="text-size-18">Lorem in cididod temunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box1">
                        <figure class="img img3">
                            <img src="assets/images/services-integrated-payment-icon.png" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Integrated Payments </h3>
                              <p class="text-size-18">Lorem in cididod temunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Payment -->
<!--<section class="payment-section">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <div class="content">-->
<!--                    <h6>Payment Gateway</h6>-->
<!--                    <h2>The Best Solution for Accepting Online Payments</h2>-->
<!--                    <p class="text-size-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaQuis ipsum suspendisse ultrices gravida.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <figure class="mb-0 need-layer">-->
<!--        <img src="assets/images/need-layer.png" alt="" class="img-fluid">-->
<!--    </figure>-->
<!--</section>-->

<!--Benefits-->
<section class="benefit-section position-relative" style="padding: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="subheading">
                    <h6>Benefits</h6>
                    <h2>Benefits Using E-Wallet Repay for You</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="benefit-wrapper">
                    <figure class="circle mb-0">
                        <img src="assets/images/image-2-bg.png" alt="">
                    </figure>
                    <figure class="benefit-image mb-0">
                        <img src="assets/images/benefit-image.png" alt="" class="img-fluid">
                    </figure>
                    <figure class="homeelement mb-0">
                        <img src="assets/images/homeelement.png" alt="" class="img-fluid">
                    </figure>
                    <figure class="homeelement1 mb-0">
                        <img src="assets/images/homeelement.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="benefit-content" data-aos="fade-right">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="content">
                                <figure class="icon icon1">
                                    <img src="assets/images/happy-customer-icon.png" alt="" class="img-fluid">
                                </figure> 
                                <h4>Pay Bill</h4>
                                <p class="text-size-16 mb-0">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed.</p>
                            </div>   
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="content-box">
                                <figure class="icon icon2">
                                    <img src="assets/images/total-customers-icon.png" alt="" class="img-fluid">
                                </figure>
                                <h4>Membership</h4>
                                <p class="text-size-16">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-downcontent">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="content">
                                    <figure class="icon icon1">
                                        <img src="assets/images/happy-customer-icon.png" alt="" class="img-fluid">
                                    </figure> 
                                    <h4>Withdraw</h4>
                                    <p class="text-size-16 mb-0">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="content">
                                    <figure class="icon icon2">
                                        <img src="assets/images/total-customers-icon.png" alt="" class="img-fluid">
                                    </figure> 
                                    <h4>Investment</h4>
                                    <p class="text-size-16 mb-0">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed.</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Contact-->
<section class="message-sections" style="padding: 0px;">
    <div class="container">
        <div class="row position-relative">
            <div class="col-12">
                <div class="content">
                    <h6>GET IN TOUCH</h6>
                    <h2>Start your journey</h2>
                    <figure class="element3 mb-0">
                        <img src="assets/images/what-we-do-element.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="message_contents" data-aos="fade-up">
                    <form id="contactpage" method="POST" action="https://html.designingmedia.com/repay/contact-form.php">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-0"> 
                                    <input type="text" class="form_style" placeholder="Enter Your Name" name="name"> 
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <input type="email" class="form_style" placeholder="Enter Your Email Address" name="emailid">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <input type="tel" class="form_style" placeholder="Enter Your Phone Number" name="phone">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <input type="tel" class="form_style" placeholder="Enter Your Phone Number" name="phone">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <input type="tel" class="form_style" placeholder="Enter Your Phone Number" name="phone">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0"> 
                                    <textarea class="form_style" placeholder="Add Your Comment" rows="3" name="msg"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="manage-button text-center">
                            <button type="submit" class="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div>
                    <img src="assets/images/contact-us-image.jpg" alt=""  width="100%">
                </div>
                <!--<figure class="element2 mb-0">-->
                <!--    <img src="assets/images/what-we-do-icon-2.png" class="img-fluid" alt="">-->
                <!--</figure>-->
            </div>
        </div>
    </div>
</section>


  <%-include('./footer')%>
</body>

</html>